body {
    font-weight: 100;
    font-family: AlfaSlabOne-Regular;
    font-size: 3vh;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.nav ul img {
    height: 10vh;
    width: 10vh;
    float: left;
    padding-right: 3vh;
}

.nav li{
    float:left;
   
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vh 3vh;
    text-decoration: none;
}

.nav li :hover{
    color:khaki;
}

.nav{
    z-index: 0;
    display: inline-block;
    font-weight: bold;
    color: #f2f2f2;
    padding-top: 2vh;
    padding-left: 4vh;
    margin-top: 0;
    text-decoration: none;
    
 }

 .nav :visited{
     text-decoration: none;
 }


.landing{
    margin-top: 0vh;
    padding-left:86vh;
    text-align: center;
    color: whitesmoke;
    

 }

.landing h1{
    font-size: 7vh;
    padding-top: 2vh;
    font-weight: 2.5em;
    text-decoration: underline;
 }

.landing h2{
    padding-left: 4vh;
    font-family:serif;
    font-size: 2.7vh;
    font-weight: 1.5em;
 }

.aboutus{
    padding-top: 20vh;
    padding-left: 10vh;
    color: whitesmoke;
    
}

.aboutus h1{
    text-decoration: underline;
}
.aboutus h2{
    font-size: 2.7vh;
    font-family: serif;
}

.menu {
    color: whitesmoke;
    display: inline-flex;
}

.menu-courses{
    padding-top: 13vh;
    color: whitesmoke;
    
   
}

.menu-courses h1{
    font-family: AlfaSlabOne-Regular;
    font-size: 8vh;
    padding-top: 0vh;
    font-weight: 2.5em;
    text-decoration: underline;
}

.menu-courses ul{
    display: list-item;
    font-size: 5vh;
}

.menu-sides{
    padding-left: 60vh;
    padding-right: 40vh;
    padding-top: 0vh;
    color: whitesmoke;
    float: right;
    
}

.menu-sides h1{
    font-family: AlfaSlabOne-Regular;
    font-size: 6vh;
    padding-top: 2vh;
    font-weight: 2.5em;
    text-decoration: underline;
    text-align: center;

}


.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:visible;
    background-color: none;
    font-size: 5vh;
}

.menu li{
    float:left;
    
}

.reservations{
    padding-top: 20vh;
    padding-left: 10vh;
    color: whitesmoke;
    
}

